.login-form {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.form-control:focus {
  border-color: #0052cc;
  box-shadow: 0 0 0 0.2rem rgba(0, 82, 204, 0.25);
}

.btn {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background-color: #0052cc;
  border: 1px solid #0052cc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  background-color: #0052cc;
  border-color: #0052cc;
}